<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <filter>
        <filter-name>MainFilter</filter-name>
        <filter-class>trungndd.filters.MainFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>MainFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>trungndd.controllers.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>trungndd.controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUserController</servlet-name>
        <servlet-class>trungndd.controllers.AddUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchUserController</servlet-name>
        <servlet-class>trungndd.controllers.SearchUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewUserController</servlet-name>
        <servlet-class>trungndd.controllers.ViewUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserController</servlet-name>
        <servlet-class>trungndd.controllers.UpdateUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUserController</servlet-name>
        <servlet-class>trungndd.controllers.DeleteUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddLifeController</servlet-name>
        <servlet-class>trungndd.controllers.AddLifeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteLifeController</servlet-name>
        <servlet-class>trungndd.controllers.DeleteLifeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchLifeController</servlet-name>
        <servlet-class>trungndd.controllers.SearchLifeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateLifeController</servlet-name>
        <servlet-class>trungndd.controllers.UpdateLifeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewLifeController</servlet-name>
        <servlet-class>trungndd.controllers.ViewLifeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEquipController</servlet-name>
        <servlet-class>trungndd.controllers.AddEquipController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchEquipController</servlet-name>
        <servlet-class>trungndd.controllers.SearchEquipController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewEquipController</servlet-name>
        <servlet-class>trungndd.controllers.ViewEquipController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateEquipController</servlet-name>
        <servlet-class>trungndd.controllers.UpdateEquipController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteEquipController</servlet-name>
        <servlet-class>trungndd.controllers.DeleteEquipController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEquipToLifeController</servlet-name>
        <servlet-class>trungndd.controllers.AddEquipToLifeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteEquipFromLifeController</servlet-name>
        <servlet-class>trungndd.controllers.DeleteEquipFromLifeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveEquipCartController</servlet-name>
        <servlet-class>trungndd.controllers.SaveEquipCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddActorToLifeController</servlet-name>
        <servlet-class>trungndd.controllers.AddActorToLifeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewActorRoleController</servlet-name>
        <servlet-class>trungndd.controllers.ViewActorRoleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteActorRoleController</servlet-name>
        <servlet-class>trungndd.controllers.DeleteActorRoleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateActorRoleController</servlet-name>
        <servlet-class>trungndd.controllers.UpdateActorRoleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>trungndd.controllers.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadController</servlet-name>
        <servlet-class>trungndd.controllers.DownloadController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotifController</servlet-name>
        <servlet-class>trungndd.controllers.NotifController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewEquipCartController</servlet-name>
        <servlet-class>trungndd.controllers.ViewEquipCartController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUserController</servlet-name>
        <url-pattern>/AddUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchUserController</servlet-name>
        <url-pattern>/SearchUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewUserController</servlet-name>
        <url-pattern>/ViewUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserController</servlet-name>
        <url-pattern>/UpdateUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUserController</servlet-name>
        <url-pattern>/DeleteUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddLifeController</servlet-name>
        <url-pattern>/AddLifeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteLifeController</servlet-name>
        <url-pattern>/DeleteLifeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchLifeController</servlet-name>
        <url-pattern>/SearchLifeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateLifeController</servlet-name>
        <url-pattern>/UpdateLifeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewLifeController</servlet-name>
        <url-pattern>/ViewLifeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEquipController</servlet-name>
        <url-pattern>/AddEquipController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchEquipController</servlet-name>
        <url-pattern>/SearchEquipController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewEquipController</servlet-name>
        <url-pattern>/ViewEquipController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateEquipController</servlet-name>
        <url-pattern>/UpdateEquipController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteEquipController</servlet-name>
        <url-pattern>/DeleteEquipController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEquipToLifeController</servlet-name>
        <url-pattern>/AddEquipToLifeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteEquipFromLifeController</servlet-name>
        <url-pattern>/DeleteEquipFromLifeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveEquipCartController</servlet-name>
        <url-pattern>/SaveEquipCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddActorToLifeController</servlet-name>
        <url-pattern>/AddActorToLifeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewActorRoleController</servlet-name>
        <url-pattern>/ViewActorRoleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteActorRoleController</servlet-name>
        <url-pattern>/DeleteActorRoleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateActorRoleController</servlet-name>
        <url-pattern>/UpdateActorRoleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadController</servlet-name>
        <url-pattern>/DownloadController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotifController</servlet-name>
        <url-pattern>/NotifController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewEquipCartController</servlet-name>
        <url-pattern>/ViewEquipCartController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>MainFilter</welcome-file>
    </welcome-file-list>
    <!--<error-page>
        <error-code>404</error-code>
        <location>/404.html</location>
    </error-page>-->
</web-app>
